*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background:transparent;
}


body{
    background: #151515;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}