
#intro{
    background-color: rgb(34, 34, 34);
    height: calc(70vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /* box-shadow: rgba(132, 132, 132, 0.4) 0px 0px 0px 2px, rgba(95, 95, 95, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(101, 101, 101, 0.25) 0px 30px 60px -12px inset, rgba(94, 94, 94, 0.3) 0px 18px 36px -18px inset;

    z-index: -10;

}

.bg{
    position:absolute;
    top: 5rem;
    right: 0;
    object-fit: cover;
    z-index: -1;
    height: 40vh;
}

.introContent{
    height: 60vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;

}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: aqua;
}

.intro-para{
    font-size: medium;
    font-weight: 200;
    word-wrap: break-word;
    width: 500px;
}

.btn{
    background: white;
    color:black;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    width: max-content;
}
.btnImg{
    object-fit:cover;
    height: 1.5rem;
    width: 1.5rem;
    padding: 3px;
}

@media screen and (max-width: 768px) {
  
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }

}
@media screen and (max-width: 1000px) {
.bg{
    opacity: 0.5;
}
}